.App {
	display: grid;
	align-self: center;
	margin-top: 15%;
}

.starting-text{
	text-align: center;
	font-size: 2em;
	margin-bottom: 15px;
}
.reset-button{
	width: 15%;
	margin-left: 42.5%;
	margin-top: 10px;
	font-size: 1.2em;
}
